.feather {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.frontpage-textbox {
    color: white;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    padding:40px;
}