<nav id="menu">
	<h2>Menu</h2>
	<ul>
		<li><a href="https://yeojoey.wordpress.com">Blog</a></li>
		{% for page in site.pages %}
			{% if page.type == "menu"%}
					<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
		{% endif %} {% endfor %}

	</ul>
	<!-- <ul>

		{% for page in site.pages %}
		<!-- {% if page.path == "index.html" & page.type != "portfolio" %}
		<li><a href="{{ page.url | prepend: site.baseurl | remove: "index.html" }}">{{ page.title }}</a></li>
		{% endif %} {% endfor %}

		{% for page in site.pages %}

		{% if page.title && page.type != "portfolio" %}

		<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title | remove: "Joey Yeo - Game Designer" }}</a></li>

		{% endif %} {% endfor %}
	</ul-->
</nav>
